.products {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  list-style-type: none;
  border: 1px solid #808080;
  border-radius: 0.5rem;
  background: #fff;
  text-align: center;
}

.listItem {
  width: 20rem;
  padding: 1rem;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid #808080;
}